VITE_KORA_ONBOARD_API_BASE_URL=https://cloud.kora.example
VITE_KORA_APP_BASE_URL=https://app.kora.example
VITE_KORA_PUBLIC_CMS_BASE_URL=https://kora.mradiafrica.com
VITE_KORA_PUBLIC_CMS_SITE_NAME=kora-content
VITE_KORA_SITE_URL=https://kora.example
